<!-- <area-chart></area-chart> -->



<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-card fxFlex="50" class="pie-chart-formatter"> 
        <pie-chart [title]="'Gloabl Cases'" [chartData]="globaldata"></pie-chart>
    </mat-card>
    <mat-card fxFlex="50" class="pie-chart-formatter"> 
        <pie-chart [title]="'Sri Lankan Cases'" [chartData]="lankadata"></pie-chart>
    </mat-card>
</div>

<!-- <mat-divider></mat-divider> -->


<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-card fxFlex="50" class="pie-chart-formatter">
        <mat-card-header>
            <mat-card-title>Global Cases</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Total Confirmed : {{global_confirmed}}</p>
            <p>Total Recovered : {{global_recovered}}</p>
            <p>Total Deaths    : {{global_deaths}}</p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50" class="pie-chart-formatter">
        <mat-card-header>
            <mat-card-title>Sri Lankan Cases</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Total Confirmed : {{lk_confirmed}}</p>
            <p>Total Recovered : {{lk_recovered}}</p>
            <p>Total Deaths    : {{lk_deaths}}</p>
        </mat-card-content>
    </mat-card>
</div> -->
<!-- <mat-divider></mat-divider> -->